bin/env-w4s.secrets
.bloop
.cache
/.classpath
css/reveal.min.css
dist
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
/.idea_modules
*.iml
*.iws
js/reveal.min.js
kvstore/.bloop
kvstore/.idea
kvstore/.metals
kvstore/project/target
kvstore/target
lib
lib_managed
log
logs
.metals
modules
node_modules/
/out
precompiled
/.project
project/project
project/target
/RUNNING_PID
.sass-cache
server.pid
/.settings
shared/src/main/resources/ssl/*
target
.target
test-result
tmp
