a, a:visited {
  color: #42affa;
  text-decoration: none;
}
em {
  color: #00aa7f;
}
.column {
  float: left;
}
.fromCode {
  color: #e0c46c;
}
.left {
  margin-right: 0;
  width: 49%;
}
.right {
  width: 51%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.pizza-microservice {
  height: 480px;
  width: 420px;
}
.post-signup {
  font-size: 0.6em;
  float: left;
  margin-top: 50px;
  margin-left: 36px;
}
.reveal h1, .reveal h2, .reveal h3,
.reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}
.reveal pre {
  box-shadow: none;
  font-size: 0.4em;
  margin: 0 auto;
}
.reveal pre code {
  max-height: 560px;
}
.reveal section img.arrow-down,
.reveal section img.arrow-right {
  background: none;
  border: none;
  box-shadow: none;
}
.reveal section img.arrow-down{
  float: left;
  margin-top: -30px;
  margin-left: 80px;
}
.reveal section img.arrow-right {
  float: right;
  margin-top: -12px;
}
.slide-title {
  font-family: Source Sans Pro;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: left;
}
.weather4s-links, .author {
  font-family: Source Sans Pro;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 220px;
}
